<div class="container">
    <h2>Contacto</h2>
    <ul class="contact-list">
        <li><a href="mailto:{{contact.email}}">✉ {{contact.email}}</a></li>
        <li><a href="https://github.com/{{contact.github}}" target="_blank">⌨ github.com/{{contact.github}}</a></li>
    </ul>
</div>
