<header>
    <div class="container header-inner">
        <span class="logo">{{name}}</span>
        <nav>
            <a href="#hero">Inicio</a>
            <a href="#about">Sobre mí</a>
            <a href="#projects">Proyectos</a>
            <a href="#contact">Contacto</a>
        </nav>
    </div>
</header>
