<div class="project-card">
    <span class="card-tag">{{tag}}</span>
    <h3>{{title}}</h3>
    <p>{{description}}</p>
    <a class="card-link" href="{{link}}" target="_blank">Ver proyecto</a>
</div>
